.imgpoke{
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
   
    border-color: red;


}

.poketab{

    text-align: center;
    display: block;
    margin-left: 15%;
    margin-right: 15% ;
}

.doubletab{
    display: flex;
}


.all{
    background:#222222;
   
}






.list_cardA{
   
    margin-left:15%;
    margin-left:15%;
    padding-bottom: 10%;
   
 }

.cardA{
    margin-left: 1%;
    margin-top: 1%;
}

hr{
    background-color: white;
    height: 2px;
    margin-left:17% ;
    width: 15%;
    margin-bottom: 2%;
}